<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    failOnDeprecation="true"
    failOnNotice="true"
    failOnPhpunitDeprecation="true"
    failOnPhpunitWarning="true"
    failOnWarning="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnPhpunitDeprecations="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
    </php>
    <source
        restrictNotices="true"
        restrictWarnings="true"
        ignoreIndirectDeprecations="true"
    >
        <include>
            <directory>packages</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="geojson-reproject">
            <directory>packages/geojson-reproject/test</directory>
        </testsuite>
        <testsuite name="pulp">
            <directory>packages/pulp/test</directory>
        </testsuite>
        <testsuite name="pulp-cache">
            <directory>packages/pulp-cache/test</directory>
        </testsuite>
        <testsuite name="pulp-concert">
            <directory>packages/pulp-concert/test</directory>
        </testsuite>
        <testsuite name="pulp-geocsv">
            <directory>packages/pulp-geocsv/test</directory>
        </testsuite>
        <testsuite name="pulp-geojson">
            <directory>packages/pulp-geojson/test</directory>
        </testsuite>
        <testsuite name="pulp-gtfs">
            <directory>packages/pulp-gtfs/test</directory>
        </testsuite>
        <testsuite name="pulp-json">
            <directory>packages/pulp-json/test</directory>
        </testsuite>
        <testsuite name="pulp-soap">
            <directory>packages/pulp-soap/test</directory>
        </testsuite>
        <testsuite name="pulp-tic">
            <directory>packages/pulp-tic/test</directory>
        </testsuite>
        <testsuite name="pulp-xml">
            <directory>packages/pulp-xml/test</directory>
        </testsuite>
        <testsuite name="pulp-zip">
            <directory>packages/pulp-zip/test</directory>
        </testsuite>
    </testsuites>
</phpunit>
